
.manifest {
  table {
    width: 100%;
  }

  &.loading td{
    color: #999;
  }

  thead {
    th.sortable {
      cursor: pointer;
    }
  }

  tbody {
    tr {
      &.clickable {
        cursor: pointer;
      }
    }
  }
}