.manifest-pager {
  display: inline-block;

  .pager-button {
    display: inline-block;
    border-radius: 0;
    border-right: 0;

    &.current {
      cursor: default;
    }

    &:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-right: 1px solid #ccc;
    }
  }
}